<div class="d-flex border border-1 p-1 bg-info">
    <p class="align-content-center fw-bolder fs-4">Najdluzsza piosenka: <span class="fs-3 font-monospace">Title:@ViewBag.longestSong.Title | Duration:@ViewBag.longestSong.Duration | Album_Title:@ViewBag.longestSong.Album.Title  </span></p>
</div>
